.group{
    background-color: white;
    max-width: 300px;
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    cursor: pointer;
    &__img{
        width: 40px;
        border-radius: 50%;
        margin-right: 5px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
    }
}