.header{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid #e7ebf4;
}
.side-bar{
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 330px;
    min-width: 260px;
    background-color: #fff;
    border-right: 1px solid #e7ebf4;
    // border-right: 1px solid #dbdbdb;
}
.content{
    padding-left: 360px;
    padding-top: 93px;
}
.container{
    max-width: 1200px;
    border: 1px solid #e7ebf4;
    background-color: #fff;
}
.button-content{
    padding: 20px 0 20px 16px;
}